<!DOCTYPE html>
<html>
<head>
    <title>还原度测试平台</title>
    <script>window.echarts = {}</script>
    <script src="//lib.baomitu.com/jquery/1.9.1/jquery.min.js"  crossorigin="anonymous"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>